
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<p class="text-center"> <b>Data from Csv File</b> </p>
				<table class="table table-striped">
        			<tbody>
            			<tr *ngFor="let data of csv_data_list">
                			<td>{{ data.key }}</td>
                			<td>{{ data.value }}</td>
            			</tr>
        			</tbody>
    			</table>
			</div>			
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<br>
				<form class="form" role="form" autocomplete="off" (ngSubmit)="getValue()" #f="ngForm">
					<div class="row">
						<div class="col-md-offset-2 col-md-4">
							<label>Enter a value :</label>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" ngModel name="key" #key="ngModel">
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-4 col-md-4 col-md-offset-4">
							<button class="btn btn-success" type="submit">Submit</button>
						</div>
					</div>
				</form>
				<br>
				<div class="text-center" *ngIf="flag;else other_content">
					<h3 class="text-center"><span>{{ single_value }}</span></h3>	
				</div>
				<ng-template #other_content><h3 class="text-center" style="color: red;"><span>{{ value_error }}</span></h3></ng-template>
			</div>	
		</div>	
	</div>
</div> 

